{namespace solutions.thex.reporeporter}
{template .svg kind="text"}

{@param title: string}
{@param link: string}
{@param width: string}
{@param height: string}
{@param bg: string}
{@param color: string}
{@param content: string}

{literal}
<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="{/literal}{$width}{literal}" height="{/literal}{$height}{literal}" role="img" aria-label="{/literal}{$title}{literal}">
    <link xmlns="" type="text/css" rel="stylesheet" id="dark-mode-custom-link"/>
    <link xmlns="" type="text/css" rel="stylesheet" id="dark-mode-general-link"/>
    <style xmlns="" lang="en" type="text/css" id="dark-mode-custom-style"/>
    <style xmlns="" lang="en" type="text/css" id="dark-mode-native-style"/>
    <title>{/literal}{$title}{literal}</title>
    <a target="_blank" xlink:href="{/literal}{$link}{literal}">
        <linearGradient id="s" x2="0" y2="100%">
            <stop offset="0" stop-color="#bbb" stop-opacity=".1"/>
            <stop offset="1" stop-opacity=".1"/>
        </linearGradient>
        <clipPath id="r">
            <rect width="{/literal}{$width}{literal}" height="{/literal}{$height}{literal}" rx="3" fill="#fff"/>
        </clipPath>
        <g clip-path="url(#r)">
            <rect width="0" height="{/literal}{$height}{literal}" fill="#555"/>
            <rect x="0" width="{/literal}{$width}{literal}" height="{/literal}{$height}{literal}" fill="#{/literal}{$bg}{literal}"/>
            <rect width="{/literal}{$width}{literal}" height="{/literal}{$height}{literal}" fill="url(#s)"/>
        </g>
        <g fill="#fff" text-anchor="middle" font-family="Verdana,Geneva,DejaVu Sans,sans-serif" text-rendering="geometricPrecision" font-size="110">
            <image x="5" y="5" width="14" height="14" xlink:href="data:image/svg+xml;base64,PHN2ZyBmaWxsPSJ3aGl0ZSIgcm9sZT0iaW1nIiB2aWV3Qm94PSIwIDAgMjQgMjQiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHRpdGxlPlN0YWNrIE92ZXJmbG93PC90aXRsZT48cGF0aCBkPSJNMTUuNzI1IDBsLTEuNzIgMS4yNzcgNi4zOSA4LjU4OCAxLjcxNi0xLjI3N0wxNS43MjUgMHptLTMuOTQgMy40MThsLTEuMzY5IDEuNjQ0IDguMjI1IDYuODUgMS4zNjktMS42NDQtOC4yMjUtNi44NXptLTMuMTUgNC40NjVsLS45MDUgMS45NCA5LjcwMiA0LjUxNy45MDQtMS45NC05LjcwMS00LjUxN3ptLTEuODUgNC44NmwtLjQ0IDIuMDkzIDEwLjQ3MyAyLjIwMS40NC0yLjA5Mi0xMC40NzMtMi4yMDN6TTEuODkgMTUuNDdWMjRoMTkuMTl2LTguNTNoLTIuMTMzdjYuMzk3SDQuMDIxdi02LjM5NkgxLjg5em00LjI2NSAyLjEzM3YyLjEzaDEwLjY2di0yLjEzSDYuMTU0WiIvPjwvc3ZnPg=="/>
            <text aria-hidden="true" x="785" y="165" fill="#010101" fill-opacity=".3" transform="scale(.1)" textLength="1090">{/literal}{$title}{literal}</text>
            <text x="785" y="150" transform="scale(.1)" fill="{/literal}{$color}{literal}" textLength="1090">{/literal}{$title}{literal}</text>
        </g>
    </a>
</svg>
{/literal}
{/template}