footer {
  width: 100%;
  background-color:  rgba(30, 47, 75, 1);
  padding: 36px 24px;
}
.container {
  width: 95%;
  margin: auto;
}
.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footerRight ul {
  display: flex;
  list-style: none;
}
.footerLeft p{
  color: white;
}
.footerRight ul li {
  color: white;
  margin-left: 20px;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.0015em;
  text-align: center;
}
