.container {
  width: 95%;
  margin: auto;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
}
.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
}
.icon {
  width: 14%;
}
.navbar {
  display: flex;
  justify-content: center;
  gap: 2rem;
  text-decoration: none;
}
.btn {
  display: flex;
  justify-content: space-between;
}
.btn button {
  width: 112px;
  height: 48px;
  border-radius: 12px;
  margin-left: 8px;
  border: none;
  cursor: pointer;
}
.btnLeft {
  color: white;
  background-color: transparent;
}
.btnRight {
  background-color: white;
  color: rgba(52, 91, 156, 1);
}
.btnLeftTwo {
  background-color: transparent;
  color: rgba(52, 91, 156, 1);
}
.btnRightTwo {
  color: white;
  background-color: rgba(52, 91, 156, 1);
}
