.container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
}
.mainContainer{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}
