.card {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
  overflow: hidden;
  width: 100%;
  justify-content: center;
}
.card .cardImage {
  width: 70%;
  margin: auto;
  text-align: center;
}
.card .cardImage img {
  width: 100%;
  border-radius: 8px;
}
.card .info {
  display: flex;
  flex-direction: column;
  gap: 16px;
  justify-content: center;
}
.card .info .innerInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.card h2 {
  font-size: 24px;
  content: #070707;
  font-weight: 500;
}
.card span {
  color: #85a0ce;
  size: 14px;
}
.card p {
  color: #9b9a9a;
  font-size: 16px;
  margin-top: 12px;
}
.icons {
  display: flex;
  justify-content: center;
  gap: 20px;
}
.info span {
  margin-bottom: 18px;
}
