.active {
  font-weight: bold;
}

.activeIndicator {
  color:white;
}
.activeIndicatorTwo{
  color: black;
}
.flexDoted {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.navLink {
  text-decoration: none;
  color: white;
  padding: 8px;
}
.navLinkTwo{
  text-decoration: none;
  color: black;
  padding: 8px;

}
span {
  text-decoration: none;
}
