.container {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(7, 7, 7, 0.5);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.modal {
  background-color: #ffff;
  border-radius: 12px;
  width: 492px;
  height: 616px;
  padding: 24px;
}
.modalBox {
  /* background-color: antiquewhite; */
  width: 444px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.headBox {
  display: flex;
  align-items: center;
  padding: 10px;
}
.headBox h6 {
  margin-left: 8px;
  font-size: 20px;
  font-weight: 500;
}
.headBox button {
  margin-left: auto;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.form select {
  display: flex;
  width: 210px;
  border: 1px solid #cbcbcb;
  border-radius: 8px;
  font-size: 14px;
  font-weight: 500;
  padding: 10px;
}
.selectBox {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 16px;
}
.inputBox {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 16px;
}
.inputBox input {
  width: 90%;
  border: 1px solid #cbcbcb;
  border-radius: 8px;
  padding: 10px;
}
