.main {
  display: flex;
}
.container{
    width: 94%;
    margin: auto;
}
.badge {
  background-color: rgba(233, 239, 249, 1);
  width: 80%;
  height: 100vh;
}
.sidbar {
  width: 20%;
}
.badgeBtn {
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
}
.badgeBtn button {
  padding: 16px 32px 16px 32px;
  background-color: rgba(30, 47, 75, 1);
  text-align: center;
  color: white;
  border-radius: 8px;
  border: none;
}
.badgeBtn input {
  width: 320px;
  height: 44px;
  gap: 8px;
  border-radius: 8px;
}
