.card {
  display: flex;
  gap: 14px;
  padding: 8px;
}
.container {
  margin-top: 22px;
  padding-top: 65px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.container h1 {
  text-align: center;
  padding: 0px, 20px, 0px, 20px;
  font-weight: 500;
  font-size: 26px;
  color: #101828;
  letter-spacing: 2px;
}
