.card {
  display: flex;
  gap: 14px;
  padding: 8px;
}
.container {
  margin-top: 24px;
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.container h1 {
  text-align: center;
  padding: 0px, 22px, 0px, 22px;
  font-weight: 300;
  color: #101828;
}
