.hero {
  background: linear-gradient(to left, #263652, #214787, #527bbd);
  height: 70vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.heroBg {
  background-blend-mode: overlay;
  position: relative;
}
.heroBg::before {
  background-image: url('../../assets/image/Background.png');
  content: '';
  background-size: 70%;
  background-repeat: no-repeat;
  position: absolute;
  opacity: 0.5;
  inset: 0;
}
.heroTextBox {
  width: 620px;
  height: 237px;
  display: flex;
  gap: 8px;
  flex-direction: column;
  position: absolute;
  gap: 48px;
  top: 30%;
  left: 20%;
}
.heroTextBox h3 {
  color: #fff;
  font-size: 48px;
  font-weight: 400;
  isolation: isolate;
}
.heroTextBox span {
  font-weight: 600;
}
.heroBtn {
  width: 212px;
  height: 48px;
  font-weight: 500;
  padding: 16px 32px 16px 32px;
  border-radius: 8px;
  background-color: #fff;
  color: #304b78;
  border: none;
  font-size: 14px;
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: center;
}
.input{
  display: flex;
  align-items: center;
}
.info {
  display: flex;
  gap: 32px;
  justify-content: space-around;
  align-items: center;
  background-color: #e9eff9;
  padding: 48px, 64px, 48px, 64px;
  width: 1142px;
  height: 204px;
  border-radius: 16px;
  margin-top: -50px;
}
.infoBox {
  display: flex;
  justify-content: center;
}
.infoPack {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.infoPack h2 {
  color: #304b78;
  font-weight: 400;
  font-size: 59px;
}
.infoPack h6 {
  font-size: 20px;
  font-weight: 500;
}
.offerBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px;
}
.offerBox h4 {
  font-weight: 500;
  font-size: 34px;
}
.offer {
  display: flex;
  padding: 24px;
  gap: 48px;
}
.offerPack {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  padding: 24px;
}
.offerPack h6 {
  font-weight: 500;
  font-size: 20px;
  text-align: center;
}
