.sectionHero {
  display: flex;
  background: linear-gradient(to left, #263652, #214787, #527bbd);
  justify-content: space-around;
  padding-bottom: 80px;
}
.sectionHero .input{
  flex: 1;
  justify-content: center;
}
.heroBg {
 display: flex;
 flex: 1;
 background-image: url(../../assets//image/Background.png);
 background-position: center;
 background-size: cover;
 justify-content: center;
 align-items: center;
}
.heroBg::before {
  
}
.heroTextBox {
 display: flex;
 flex-direction: column;
 color: #fff;
 gap: 48px;
margin: auto;
}
.heroTextBox h3 {
  width: 70%;
  font-size: 44px;
  font-weight: 400;

}
.heroTextBox span {
  font-weight: 600;
}
.heroBtn {
  width: 212px;
  height: 48px;
  font-weight: 500;
  padding: 16px 32px 16px 32px;
  border-radius: 8px;
  background-color: #fff;
  color: #304b78;
  border: none;
  font-size: 14px;
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}
.input {
  display: flex;
  align-items: center;
}
.info {
  display: flex;
  gap: 32px;
  justify-content: space-around;
  align-items: center;
  background-color: #e9eff9;
  padding: 48px, 64px, 48px, 64px;
  width: 1142px;
  height: 204px;
  border-radius: 16px;
  margin-top: -50px;
}
.infoBox {
  display: flex;
  justify-content: center;
}
.infoPack {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.infoPack h2 {
  color: #304b78;
  font-weight: 400;
  font-size: 59px;
}
.infoPack h6 {
  font-size: 20px;
  font-weight: 500;
}
.offerBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px;
}
.offerBox h4 {
  font-weight: 500;
  font-size: 34px;
}
.offer {
  display: flex;
  padding: 24px;
  gap: 48px;
}
.offerPack {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  padding: 24px;
}
.offerPack h6 {
  font-weight: 500;
  font-size: 20px;
  text-align: center;
}
