
.hero{
  background: linear-gradient(to left , #263652,#214787,#527BBD);
  height:70vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.heroBg{
  background-blend-mode: overlay;
  position: relative;
  
}
.heroBg::before{
  background-image: url('../../assets/image/Background.png');
  content: '';
  background-size: 70%;
  background-repeat: no-repeat;
  position: absolute;
  opacity: 0.5;
  inset: 0;
}
.heroTextBox{
  width: 620px;
  height: 237px;
  display: flex;
  gap: 8px;
  flex-direction: column;
  position: absolute;
  gap: 48px;
  top: 30%;
  left: 20%;
}
.heroTextBox h3{
  color: #fff;
  font-size: 48px;
  font-weight: 700;
  isolation: isolate;
}
.heroBtn{
  width: 212px;
  height: 48px;
  padding: 16px 32px 16px 32px;
  border-radius:8px;
  background-color:#fff;
  color:#304B78;
  border: none;
  font-size: 14px;
  
}
.info{
  display: flex;
  gap: 32px;
  justify-content: center;
  background-color: #E9EFF9;
  padding: 48px, 64px, 48px, 64px;
  width: 1142px;
  border-radius: 16px;

}
.infoBox{
  display: flex;
  justify-content: center;
  
}
.infoPack{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.offerBox{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.offer{
  display: flex;
  padding: 24px;
  gap: 48px;
}
.offerPack{
  display: flex;
  flex-direction: column;
  align-items: center;
}