:root {
  font-family: inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;



  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  margin: auto;
  max-width: 1200;
  min-height: 100vh;
  padding: 10px;
}

